[alias]
	a = add .
	c = commit -a
	ca = commit -a
	bc = checkout -b
	bd = branch -D
	bl = blame
	bs = checkout
	f = fetch
	d = diff
	dt = difftool
	ll = log --color --graph --date=format:'%D - %H:%M:%S' --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset'
	m = merge
	mt = mergetool
	ps = push
	pl = pull
	r = reset --hard HEAD
	s = status -sb
	st = stash
	sta = stash apply
	stl = stash list
	sts = stash push
	stp = stash pop
	stc = stash clear
	sh = show --pretty='' --name-only

[color]
	ui = true

[commit]
	template = ~/.gitmessage

[core]
	editor = vim
	excludesfile = /home/mpg26/.cas-git-tools/etc/default-excludesfile
    	pager = delta

[credential]
	helper = !aws codecommit credential-helper $@ --profile default
    	UseHttpPath = true

[delta]
    	navigate = true
    	line-numbers = true
    	side-by-side = true

[diff]
	tool = nvimdiff
	renames = true

[difftool]
	prompt = false

[difftool "nvimdiff"]
    	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[init]
	defaultBranch = main

[interactive]
	diffFilter = delta --color-only --features=interactive

[merge]
    	tool = nvimdiff

[user]
	name = Matthew Gerstemeier
	email = mgerstem@gmail.com

; CAS SPECIFIC
[gerrit]
	createchangeid = true
[casgittools]
	gerritAlias = osd
	sshAlias = gerrit
	httpServer = osd-review.cas.org

