[user]
	name = Matthew Gerstemeier
	email = mgerstemeier@cas.org
[credential]
	helper = !aws codecommit credential-helper $@ --profile default
	UseHttpPath = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[user]
	name = Matthew Gerstemeier
	email = mgerstemeier@cas.org
[alias]
	s = status -sb
	#lg = log --pretty=format:\"%h%x09%an%x09%ad%x09%s\"
	ll = log --color --graph --date=format:'%D - %H:%M:%S' --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset'
	sh = show --pretty="" --name-only
	cm = checkout master
	c = commit -a
    r = reset --hard HEAD
    d = difftool
    db = branch -D
    cb = checkout -b
    sb = checkout
    ps = push
    pl = pull
    f = fetch
	
[core]
#	editor = code --wait
[commit]
	template = /home/mpg26/.gitmessage
[core]
	editor = vim
[init]
	defaultBranch = main 
