* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    min-height: 0;
}
window#waybar {
    /* border-bottom: .5px solid grey; */
    background: rgba(43, 48, 59, 0);
    color: #ffffff;
}

#mode, #clock, #battery, #network {
    background-color: white;
    color: #423e3e;
    padding: 0 10px;
    border-radius: 10;
    margin-top:5px;
    margin-right: 10px;

}


#workspaces button {
    background: rgba(43, 48, 59, 0);
    color: #ffffff;
    margin-top:5px;
    margin-left:2px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}
